.add-todo-form {
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px auto auto;
}

.center {
    text-align: center;
}

.enter-todo {
    width: 100%;
    margin-bottom: 10px;
}

.select-priority {
    width: 100%;
}

.add-todo-btn {
    width: 100%;
}

.errors {
    font-size: small;
    font-style: italic;
    color: red;
}

