.todo-item {
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
}

.date {
    text-align: center;
    margin: 2px;
}

.description, .priority {
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

.LOW {
    color: green;
}

.MEDIUM {
    color: orange;
}

.HIGH {
    color: red;
}

.true {
    text-decoration:  line-through;
}

.false {
    text-decoration: none;
}

.on {
    display: none;
}

.off {
    display: block;
}

.card-actions {
    width: 95%;
    justify-content: flex-end;
}

hr {
    margin-bottom: 3px;
    margin-top: 3px;
}

.MuiCardContent-root {
    padding-top: 8px !important;
    padding-bottom: 0 !important;
}

.true-completed {
    display: block;
}

.false-completed {
    display: none;
}